# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files
*.tmp
*.swp
*.swo
*.swn
*.env

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
./contents
# Frontend (evo2-frontend - Next.js)

# Backend (evo2-backend - Node.js)

# Temporary folders
.tasks/
.temp/
.vscode/
.venv/
.idea/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for .env.example. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local
.env.production

*.tsbuildinfo

# idea files
.idea

# temporary folders
tasks/
temp/
links_server.md
