# Dependencies
node_modules
npm-debug.log

# Version control
.git
.gitignore

# Environment
.env
.env.local
.env.*

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Build output
dist
build

# Testing
coverage

# Logs
logs
*.log

# Operating System
.DS_Store
Thumbs.db

# Temporary files & folders
tasks/
temp/

# Postman collections
postman.json