PORT=8000
NODE_ENV=development

MONGO_URI=mongodb+srv://<>:<>@cluster0.zvjt1hn.mongodb.net/test_db

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

ARCJET_ENV=development
ARCJET_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

FRONTEND_ORIGIN="localhost"